body {
    // background-color: #D1D1D6;
    font-family: sans-serif !important;
    color: white;
    background-color: black;
}

.hero-unit__background-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg_img.png');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.left{
  margin: 5% 5%;
  float: left;
}

.logo > a > img{
  display: block;
  width: 50%;
  height: auto;
  margin-top: 0;
}

.past, .list {
  margin-top: 5%;
}

.list {
  margin-top: 10%;
}

.past {
  margin-top: 8%;
}

#button{
  	background-color: #FFDA00;
  	border:1px solid #FFDA00;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  	background-image:-webkit-linear-gradient(top, #FFDA00, #FFBA00);
  	background-image:-moz-linear-gradient(top, #FFDA00, #FFBA00);
  	background-image:-ms-linear-gradient(top, #FFDA00, #FFBA00);
  	background-image:-o-linear-gradient(top, #FFDA00, #FFBA00);
  	background-image:linear-gradient(top, #FFDA00, #FFBA00);

  	-webkit-border-radius:5px;
  	-moz-border-radius:5px;
  	border-radius:5px;

    width: 262px;
    height: 50px;
}

#button:hover {
    //box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background: #FFDA00;
  	background-image:-webkit-linear-gradient(top, #FFBA00, #FFDA00);
  	background-image:-moz-linear-gradient(top, #FFBA00, #FFDA00);
  	background-image:-ms-linear-gradient(top, #FFBA00, #FFDA00);
  	background-image:-o-linear-gradient(top, #FFBA00, #FFDA00);
  	background-image:linear-gradient(top, #FFBA00, #FFDA00);
    width: 262px;
    height: 50px;
}

#hide {
  visibility: hidden;
}

.right1 {
  display: inline;
  float: left;
  margin: 9% 5%;
}

#details {
  display: inline;
  float: left;
  margin: 5% 5%;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #FFDA00;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

label > h3 {
  margin-top: 15%;
}

.scan {
  display: inline;
}

.icon{
  display: inline;
}

#icon {
  margin-left: 5%;
  margin-bottom: -3%;
  width: 8%;
  height: auto;
}

b, strong {
  color: #FFDA00;
}

.icon .text{
  visibility: hidden;
  width: 200px;
  background-color: #2C2C2C;
  color: #FFDA00;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.icon:hover .text {
    visibility: visible;
}
